{{filter-table content=content bodyTemplate="posts-table-body"
               headerTemplate="posts-table-header"
               columnNum=2
               viewLimit=5
               filterField="author"}}

<hr>

{{#each this}}
  <h3>{{title}}</h3>
  <span class="author">By {{author}}</span>

  <br><br>

  <div class="body">
    {{body}}
  </div>

  <br>
{{/each}}
